# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Config locali (non versionare segreti/config specifiche di ambiente)
configs/config.yaml

# Env files
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
